

<div class="card-company">

{{#with company}}

<h1>Company</h1>

<img src="/images/companyimg.png" alt="picture for" height="150px">
	<h1>Details for {{name}}</h1>
	<h3>Adress: {{address}}</h3>
	<h3>City: {{city}}</h3>
	<p>size :{{size}}</p>
	<p>Project Phase :{{projectPhase}} </p>
	<p>Project Type :{{projectType}} </p>
{{/with}}

</div>


{{#if company.review}}
<h1>Reviews</h1>
{{!-- List the reviews --}}
<div class="card2">
	
	{{#each company.review}}
		<div class="container2">

	<p>Name: {{name}}</p>
	<p>Worked years there :{{yearsWorked}}</p> 
	<p>Enviroment: {{enviroment}}</p>
	<p>Salary: {{salary}}</p>
	<p>Average overtime /month: {{overtime}}</p>
	<p>Diversity /culture: {{diversity}}</p>
	<p>Have the company benefits?: {{benfits}}</p>
	<p>Comment: {{comments}}</p>
	<p>Added by: {{username}}</p> 
	
	</div>
	{{/each}}
	
	</div>
{{else}}
	<h5>No reviews yet, why not adding one?</h5>
{{/if}}

{{#with company}}
<a href="/review/{{_id}}" class="btn btn-danger">write a review</a>
{{/with}}
