

<div class="card-company">
{{#with company}}
	<div class="container-inside-company">
	<img class="img-for-build" src="/images/build2.png" alt="picture for" height="130px">
	</div>
	<div class="container-inside-company">
	<p class="name company">{{name}}</p>
	<span class="name">Adress:</span> <p>{{address}}</p>
	<span class="name">City:</span><p> {{city}}</p>
	</div>
	<div class="container-inside-company theother">
	<span class="name">Size :</span><p>{{size}}</p>
	<span class="name">Project Phase :</span><p>{{projectPhase}} </p>
	<span class="name">Project Type :</span><p>{{projectType}} </p>
	</div>
	
{{/with}}
</div>


{{#if company.review}}

<h8>Reviews</h8>

{{!-- List the reviews --}}
<div class="card2">
	
	{{#each company.review}}

	<div class="container2">

	<p><b>Name: </b>{{name}}</p>
	<p><b>Years worked there: </b>{{yearsWorked}}</p>
	<p><b>Enviroment: </b>{{enviroment}}</p>
	<p><b>Salary: </b>{{salary}}</p>
	<p><b>Average overtime/month: </b>{{overtime}}</p>
	<p><b>Diversity culture: </b>{{diversity}}</p>
	<p><b>Have the company benefits?: </b><br>{{benfits}}</p>
	<p><b>Comment: </b><br>{{comments}}</p>
	<p><b>Added by: </b><br>{{username}}</p>
	<div class="trash">
	<a href="/review/delete/{{_id}}"><img src="/images/trash.png" width="20px" height="20px"></a>
	</div>
</div>

	{{/each}}
	
	</div>
{{else}}
	<h5>No reviews yet, why not adding one?</h5>
{{/if}}

{{#with company}}
<a href="/review/{{_id}}" class="btn btn-danger">Write a new review</a>
{{/with}}
